#!/bin/sh

#------------------------------------------------------------
# example.miniconfig
#
#	This file is provided as an example of a miniconfig file
#	It chould be copied to ./miniconfig, and that
#	copy should then be edited to reflect the current configuration.  
#
#  The copied script (./minconfig) is source'd from ./minitest to set its environment
#	The copied file should never be committed to git
#------------------------------------------------------------
# TOPDIR should be set to that root of the installed minitest repository
TOPDIR=~/gits/minitest

# the lists of subdirectories below include all that are possible
#
#  CPUDIRS contain all the tests that are pure CPU users, no GPU
CPUDIRS=( \
 	nogpu/ompt.tf.nooff.gcc \
 	nogpu/ompt.tf.nooff.llvm \
 	nogpu/psx.tf.nooff.gcc \
 	nogpu/psx.tf.nooff.llvm \
 	nogpu/sngl.tf.nooff.gcc \
 	nogpu/sngl.tf.nooff.llvm \
 	)

#  NVIDIADIRS contain all the tests that run on Nvidia GPUs
#	They should obly be run on machines that have Nvidia GPUs
NVIDIADIRS=( \
	nvidiagpu/ompt.tf.cudaoff.gcc \
	nvidiagpu/ompt.tf.ompoff.gcc \
 	nvidiagpu/ompt.tf.ompoff.nvcc \
		\
	nvidiagpu/psx.tf.cudaoff.gcc \
	nvidiagpu/psx.tf.ompoff.gcc \
 	nvidiagpu/psx.tf.ompoff.nvcc \
		\
	nvidiagpu/sngl.tf.cudaoff.gcc \
	nvidiagpu/sngl.tf.ompoff.gcc \
	)

#  AMDDIRS contain all the tests that run on AMD/ROCM GPUs
#	They should obly be run on machines that have AMD GPUs
AMDDIRS=( \
	amdgpu/BREAK_COMPILER.ompt.tf.ompoff.amdclang \
	amdgpu/ompt.tf.hipoff.amdclang \
	amdgpu/ompt.tf.hipoff.gcc \
		\
	amdgpu/psx.tf.hipoff.amdclang \
	amdgpu/psx.tf.hipoff.gcc \
	amdgpu/psx.tf.ompoff.amdclang \
		\
	amdgpu/sngl.tf.hipoff.amdclang \
	amdgpu/sngl.tf.hipoff.gcc \
	amdgpu/sngl.tf.ompoff.amdclang \
	)

#  INTELDIRS contain all the tests that run on Intel GPUs
#	They should obly be run on machines that have Intel GPUs
INTELDIRS=( \
	)

# RUNDIRS is composed of the sets relevant to a particular machine
#
#  CPUDIRS is normally always run; NVIDIADIRS, AMDDIRS, and INTELDIRS
#	should only be run on those machines that have the releveant GPUs

RUNDIRS=( ${CPUDIRS[*]} ${NVIDIADIRS[*]} ${AMDDIRS[*]} ${INTELDIRS[*]} )

